<div ng-include="'components/navbar/navbar.html'"></div>

<div class="bar">
    <div class="container">
        <h3><span class="fa fa-shopping-basket"></span> Pantry</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        	<h4>Filter:</h4>
            <input type="text" placeholder="search items" id="itemSearch" ng-model="search" class="form-control" />

        		<div ng-repeat="(key, value) in items">
        			<h5 class="foodgroup" ng-show="(value | filter:search).length > 0">{{ key }}</h5>
        			<ul ng-show="(value | filter:search).length > 0">
        				<li ng-repeat="item in value | filter:search">{{ item }}
        			</ul>
        		</div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
