.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.graph {
    position: relative;
    width: 100%;
    height: 175px;
}
.graph .pig {
    position: absolute;
    top: 0;
    left: 0;
    width: 306px;
    height: 175px;
}
.graph .pig.gray {
    width: 0;
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
    background: url('/assets/images/gray_pig.png') no-repeat top left transparent;
    border-right: solid 2px white;
}
.graph .pig.pink {
    background: url('/assets/images/pink_pig.png') no-repeat top left transparent;
}
.graph .pig.green {
    background: url('/assets/images/green_pig.png') no-repeat top left transparent;
}
.graph .pig.blue {
    background: url('/assets/images/blue_pig.png') no-repeat top left transparent;
}
.graph .pig.orange {
    background: url('/assets/images/orange_pig.png') no-repeat top left transparent;
}
.orange { color: #f7941e;}
.blue { color: #25aae1;}
.pink { color: #f27db2;}
.green { color: #8dc63f;}
.badges .pig.pink,
.badges .pig.blue,
.badges .pig.orange {
    background: url('/assets/images/pig-badges.png') no-repeat top left transparent;
    width: 110px;
    height: 97px;
    float: left;
    margin: 0 2em 2em 0;
}
.badges .pig.blue {
    background-position-x: -307px;
}
.badges .pig.orange {
    background-position-x: -150px;
}