.share-icons {
    padding: 1em 0;
    text-align: center;
}
.share-icons .fa {
    margin: 0 0.2em;
    text-decoration: none;
}
.share-icons .fa-envelope {
    color: inherit;
}
.share-icons .fa-twitter-square {
    color: #00aeef;
}
.share-icons .fa-facebook-square {
    color: #0e76bc;
}
.donate img {
    margin: 2em auto 2em;
}